[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
terminal-utils = {editable = true, git = "ssh://git@github.com/vphpersson/terminal_utils.git"}
httpx = "*"

[dev-packages]

[requires]
python_version = "3.9"
